{% extends 'web/base_sidebar.html' %}
{% load staticfiles %}

{% block sub_title %}
  Topic
{% endblock sub_title %}

{% block sub_heading %}
  Topic
{% endblock sub_heading %}

{% block content %}

    <h1 class="content-head">{{ topic.name }}</h1>    

	<video controls>
        <source src="{{ topic.video.url }}" type="video/mp4">
        <source src="{{ topic.video.url }}" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <div style="margin-top:30px;width:100%;">
        <span class="counterbox" style="" title="View Count"><i class="fa fa-eye"></i> <span  id="vd_viewcount">{{vid_vw.views|default_if_none:0}}</span></span>
        <span class="counterbox" style="" title="Download Count"><i class="fa  fa-folder-o"></i> <span  id="vd_dlcount">{{vid_vw.dls|default_if_none:0}}</span></span>

        {% if topic.get_prev %}<a href="{% url 'web.topic.detail' topic.get_prev.id %}" class="pure-button counterbox" >Prev</a>{% endif %}
        {% if topic.get_next %}<a href="{% url 'web.topic.detail' topic.get_next.id %}" class="pure-button counterbox" >Next</a>{% endif %}
        
        
        <a id="vd_download" href="{% url 'download.media' topic.pk %}" download="{{ topic.download_file_name }}" class="pure-button" style="float:right;">
        <i class="fa fa-download"></i> MIME
        </a>
        <a id="vd_download2" href="{{ topic.video.url }}" download="{{ topic.download_file_name }}" class="pure-button" style="float:right;">
        <i class="fa fa-download"></i> HREF 
        </a>
    </div>

    
    <div id="comment_list" style="margin-top:30px;width:100%;">
    <div class="pure-menu-heading">Comments</div>
    {% for cmt in comment_list %}
        <div class="comment">
            <label>{{ cmt.created|date:"SHORT_DATETIME_FORMAT" }} <i>posted by</i> <b> {{ cmt.commentator.username }}</b></label>
            <p>{{ cmt.comment }}</p>
        </div>
    {% endfor %}
    </div>

        
    <div style="margin-top:30px;width:100%;">
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="pure-button" style="float:right;" value="Add Comment" />  
        </form>
    </div> 
    
    
    <script>
    
        // listen for the video to end - ajax call updates view count in db and label
        var v = document.getElementsByTagName("video")[0];
        v.addEventListener("ended", function() { 
                var xmlhttp = get_xmlhttp();              
                xmlhttp.onreadystatechange=function()
                  {
                  if (xmlhttp.readyState==4 && xmlhttp.status==200)
                    {
                    // ajax view function adds the view count to the db, then returns the total number of views including this one
                    document.getElementById("vd_viewcount").innerHTML=xmlhttp.responseText;
                    }
                }
                xmlhttp.open("GET","/web/ajaxcall/viewcount/{{topic.id}}/",true);
                xmlhttp.send();
        }, true);
        
        // listen for the download button being clicked - ajax call updates dl count in db and label
        var d = document.getElementById("vd_download");
        d.addEventListener("click", function() { 
                var xmlhttp = get_xmlhttp();              
                xmlhttp.onreadystatechange=function()
                  {
                  if (xmlhttp.readyState==4 && xmlhttp.status==200)
                    {
                    // ajax view function adds the dl count to the db, then returns the total number of views including this one
                    document.getElementById("vd_dlcount").innerHTML=xmlhttp.responseText;
                    }
                }
                xmlhttp.open("GET","/web/ajaxcall/dlcount/{{topic.id}}/",true);
                xmlhttp.send();
        }, true);
        
        function get_xmlhttp() {
            if (window.XMLHttpRequest)
                {// code for IE7+, Firefox, Chrome, Opera, Safari
                return new XMLHttpRequest();
                }
            else
                {// code for IE6, IE5
                return new ActiveXObject("Microsoft.XMLHTTP");
                };
        };
    </script>
    
{% endblock content %}


{% block sidemenuitems %}

    <li class="pure-menu-item"><a href="{% url 'web.university.list' %}" class="pure-menu-link"><img src="{% static 'img/project/' %}arrow-back-left.png" /> My Universities</a></li>
    <li class="pure-menu-item"><a href="{% url 'web.university.department.list' topic.course.department.university.slug %}"  class="pure-menu-link"><img src="{% static 'img/project/' %}arrow-back-left.png" /> {{ topic.course.department.university.name }} University</a></li>
    <li class="pure-menu-item"><a href="{% url 'web.department.course.list' topic.course.department.pk %}" class="pure-menu-link"><img src="{% static 'img/project/' %}arrow-back-left.png" /> {{ topic.course.department.name }}</a></li>
    <li class="pure-menu-item"><a href="{% url 'web.course.topic.list' topic.course.pk %}" class="pure-menu-link"><img src="{% static 'img/project/' %}arrow-back-left.png" /> {{ topic.course.name }}</a></li>

    <li class="pure-menu-heading">{{ topic.name }}<li>
    
    {% for tpc in topic_list %}
	{% if forloop.first %}<li><span class="pure-menu-link pure-menu-instruction">Select another Topic</span></li>{% endif %}
		{% if tpc != topic %}
		<li class="pure-menu-item"><a href="{% url 'web.topic.detail' tpc.pk %}" class="pure-menu-link">{{ tpc.name }}</a></li>
		{% else %}
		<li><span class="pure-menu-link ">{{ tpc.name }}</span></li>
		{% endif %}
    {% endfor %}

    {% for tpc in ware_list %}
    {% if forloop.first %}
    <li class="pure-menu-heading">Course Ware<li>
    <li><span class="pure-menu-link pure-menu-instruction">Click to download</span></li>
    {% endif %}
    <li class="pure-menu-item"><a href="{% url 'download.media' tpc.pk %}" download="{{ topic.download_file_name }}" class="pure-menu-link">{{ tpc.name }}</a></li>
    {% endfor %}

{% endblock sidemenuitems %}



 
    
