{% extends "aliu/base.html" %}

{% block sub_title %}
  Course
{% endblock sub_title %}

{% block sub_heading %}
  Course
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>
              {{ department.name }}
              courses at
              <a href="{% url "aliu.department.list" department.university.slug %}">
                {{ department.university.name }}
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for course in course_list %}
            <tr valign="top">
              <td>
                <a href="{% url "aliu.topic.list" course.pk %}">
                  {{ course.name }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
