{% extends "aliu/base.html" %}

{% block sub_title %}
  Departments
{% endblock sub_title %}

{% block sub_heading %}
  Departments
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>
              Departments at {{ university.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          {% for department in department_list %}
            <tr valign="top">
              <td>
                <a href="{% url "aliu.department.course.list" department.pk %}">
                  {{ department.name }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
