{% extends "aliu/base.html" %}

{% block sub_title %}
  Topics
{% endblock sub_title %}

{% block sub_heading %}
  Topics
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>
              {{ course.name }}
              topics for 
              {{ course.department.name }}
              at
              {{ course.department.university.name }}
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for topic in topic_list %}
            <tr valign="top">
              <td>
                {{ topic.name }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
