{% extends "aliu/base.html" %}

{% block sub_title %}
  Topics
{% endblock sub_title %}

{% block sub_heading %}
  Topics
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <a href="{% url "aliu.university.department.list" course.department.university.slug %}">
        {{ course.department.university.name }}
      </a>
      <br />
      <a href="{% url "aliu.department.course.list" course.department.pk %}">
        {{ course.department.name }}
      </a>
      <br />
      {{ course.name }}
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>
              Topics
            </th>
          </tr>
        </thead>
        <tbody>
          {% for topic in topic_list %}
            <tr valign="top">
              <td>
                <a href="{% url "aliu.topic.detail" topic.pk %}">
                  {{ topic.name }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
