{% extends "aliu/base.html" %}

{% block sub_title %}
  Universities
{% endblock sub_title %}

{% block sub_heading %}
  Universities
{% endblock sub_heading %}

{% block content %}
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Universities</th>
      </tr>
    </thead>
    <tbody>
      {% for university in university_list %}
        <tr valign="top">
          <td>
            <a href="{% url "aliu.university.department.list" university.slug %}">
              {{ university.name }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
