{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example that shows off a responsive product landing page.">
  <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>
  <link rel="stylesheet" href="{% static "pure-min.css" %}">
  <link rel="stylesheet" href="{% static 'css/project/marketing.css' %}">
</head>
<body>
  <div class="content">
    <div class="pure-g-r">
      <div class="pure-u-1-3">
        <div class="l-box">
          <img src="{% static 'img/project/total.png' %}" alt="Placeholder image for example.">
        </div>
      </div>
      <div class="pure-u-1-3">
      </div>
      <div class="pure-u-1-3">
        <div class="r-box">
          <img src="{% static 'img/project/logox.png' %}" alt="Placeholder image for example.">
        </div>
      </div>
    </div>
    <div class="splash">
      <div class="pure-u-1">
        <div class="c-box">
          <h1 class="splash-head">
            Aliu Academy
          </h1>
          Bringing World class educational resources to you
        </div>
      </div>
    </div>
    <div class="pure-u-1">
      <div class="l-box note">
        "Education is the great engine of personal development.  It is through
        education that the daughter of a persant can become a doctor, that a
        son of a mineworker can become the head of the mine, that a child of
        farm workers can become the president of a great nation.  It is what
        we make out of what we have, not what we are given, that separates one
        person from another." (Nelson Mandela)
      </div>
    </div>
    <div class="pure-g-r">
      <div class="pure-u-1-4 menu-box">
        <div class="pure-menu pure-menu-open">
          <ul>
            <li><a href="{% url 'aliu.about' %}">About us</a></li>
            <li><a href="#">Our Vision</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">About the universities</a></li>
          </ul>
        </div>
      </div>
      <div class="pure-u-3-4 menu-box">
        {% block content %}
          <video width="550" controls>
            <source src="{{ topic.video.url }}" type="video/mp4">
            <source src="{{ topic.video.url }}" type="video/ogg">
            Your browser does not support the video tag.
          </video>
        {% endblock content %}
      </div>
    </div>
  </div>
  <script src="http://yui.yahooapis.com/3.12.0/build/yui/yui.js"></script>
  <script>
    YUI().use('node-base', 'node-event-delegate', function (Y) {
        // This just makes sure that the href="#" attached to the <a> elements
        // don't scroll you back up the page.
        Y.one('body').delegate('click', function (e) {
            e.preventDefault();
        }, 'a[href="#"]');
    });
  </script>
</body>
</html>
