{% extends 'web/base.html' %}

{% block sub_title %}
  Topic
{% endblock sub_title %}

{% block sub_heading %}
  Topic
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <a href="{% url 'web.university.department.list' topic.course.department.university.slug %}">
        {{ topic.course.department.university.name }}
      </a>
      <br />
      <a href="{% url 'web.department.course.list' topic.course.department.pk %}">
        {{ topic.course.department.name }}
      </a>
      <br />
      {{ topic.course.name }}
    </div>
  </div>
  <div class="pure-g-r">
    <div class="pure-u-1-4">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>
              Topics
            </th>
          </tr>
        </thead>
        <tbody>
          {% for topic in topic_list %}
            <tr valign="top">
              <td>
                <small>
                  <a href="{% url 'web.topic.detail' topic.pk %}">
                    {{ topic.name }}
                  </a>
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="pure-u-3-4">
      <video width="550" controls>
        <source src="{{ topic.video.url }}" type="video/mp4">
        <source src="{{ topic.video.url }}" type="video/ogg">
        Your browser does not support the video tag.
      </video>
      <small>{{ topic.name }}</small>
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
          <a href="{{ topic.video.url }}" download="{{ topic.download_file_name }}">
              <i class="fa fa-cloud-download"></i>
              Download
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
